*{
    padding: 0px 0px;
    margin: 0px 0px;
}
:root{
    --themePrimary: #7843E6;
}
.bg-themePrimary{
    background-color: var(--themePrimary) !important;
    color: white;
}
.btn-themePrimary{
    background-color: var(--themePrimary) !important;
    color: white !important;
}

.btn-themePrimary:hover{
    background-color: rgb(49, 49, 49) !important;
}

.btn-outline-themePrimary{
    border: 2px solid var(--themePrimary);
    color: var(--themePrimary);
}

.btn-outline-themePrimary:hover{
    background-color: var(--themePrimary)!important;
    color: white;
}

.rounded-lg{
    border-radius: 15px;
}
.rounded-xl{
    border-radius: 25px !important;
}
.dropdown-item:hover{    
    background-color: inherit !important;
    font-weight: bolder;
}